<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060117536060-214hivsb3rg10se3eaf56tm2cn12pc6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060117536060-214hivsb3rg10se3eaf56tm2cn12pc6q</string>
	<key>API_KEY</key>
	<string>AIzaSyByMpBvtmnHub4NqL_34Ic-PAKcsFTXEa4</string>
	<key>GCM_SENDER_ID</key>
	<string>1060117536060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuf.lokalsamhallesappen</string>
	<key>PROJECT_ID</key>
	<string>lokalsamhallesappen</string>
	<key>STORAGE_BUCKET</key>
	<string>lokalsamhallesappen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060117536060:ios:b5b49ccbef78934b</string>
	<key>DATABASE_URL</key>
	<string>https://lokalsamhallesappen.firebaseio.com</string>
</dict>
</plist>